*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: calc(100% - 100px);
  margin: 0 auto;
}

/* JUMBOTRON */
.jumbotron{
  width: 100%;
  height: 100vh;
  background-image: url(../img/h5-slide-3-background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron header{
  height: 100px;
  width: 100%;
}

.jumbotron header img{
  height: 50px;
  margin: 25px 50px;
}

.jumbotron header .menu{
  float: right;
  padding-right: 40px;
}

.jumbotron header .menu ul{
  list-style: none;
}

.jumbotron header .menu ul li{
  display: inline-block;
  padding: 0 10px;
}

.jumbotron header .menu ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 40px 0;
  line-height: 100px;
}

.jumbotron header .menu ul li a:hover{
  text-decoration: underline;
}

.jumbotron header .menu ul li a{
  position: relative;
}

.jumbotron header .menu ul li a .cart-counter{
  position: absolute;
  top: 35%;
  right: -40%;
  font-size: 12px;
  border-radius: 50%;
  width: 15px;
  line-height: 15px;
  background: #40c4ff;
  color: white;
  text-align: center;
}

.jumbotron h1{
  text-align: center;
  color: white;
  font-size: 100px;
  margin-top: 100px;
}

.jumbotron .description{
  width: 75%;
  margin: 30px auto;
  text-align: center;
  color: white;
  font-size: 20px;
}

.jumbotron .btn{
  margin-top: 50px;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 20px 40px;
  font-weight: bold;
  background-color: #40c4ff;
  cursor: pointer;
}

.jumbotron .btn:hover {
  animation: shakeBtn 2s infinite;
}

/* SECTOR */
.sector{
  width: 100%;
  height: 310px;
  padding: 50px 0;
}

.sector .container .card{
  width: calc(100% / 6 - 40px);
  float: left;
  text-align: center;
  padding: 50px 0;
  margin: 0 20px;
  background-color: #f2f8fc;
}

.sector .container .card .subject{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* MISSION */
.mission{
  width: 100%;
  padding: 50px 0;
}

.mission .container .title{
  font-size: 45px;
}

.mission .container .description{
  margin-top: 25px;
  font-size: 20px;
  color: #959595;
}

.mission .container .cta{
  margin-top: 25px;
  font-size: 20px;
  color: #40c4ff;
  cursor: pointer;
  text-transform: uppercase;
}

/* PHOTO */
.photo{
  width: 100%;
  margin-bottom: 50px;
}

.photo .container img{
  width: 100%;
}

/* POTENTIAL */
.potential{
  width: 100%;
  height: 573px;
  padding: 50px 0;
}

.potential .container .half{
  width: 50%;
  float: left;
  padding: 0 20px;
}

.potential .container .half img{
  width: 100%;
}

.potential .container .half .title{
  font-size: 45px;
  width: 65%;
}

.potential .container .half .description{
  width: 70%;
  margin-top: 25px;
  font-size: 20px;
  color: #959595;
}

.potential .container .half .stories,
.potential .container .half .events{
  display: inline-block;
  width: 40%;
}

.potential .container .half .stories .number{
  margin-top: 25px;
  font-size: 45px;
  color: #40c4ff;
  animation: counterstory 7s infinite alternate ease-in-out;
  counter-reset: num var(--num);
}

.potential .container .half .stories .number::after {
  content: counter(num);
}

.potential .container .half .events .number{
  margin-top: 25px;
  font-size: 45px;
  color: #40c4ff;
  animation: counterevent 7s infinite alternate ease-in-out;
  counter-reset: num var(--num);
}

.potential .container .half .events .number::after {
  content: counter(num);
}

.potential .container .half .stories .text,
.potential .container .half .events .text{
  margin-top: 10px;
  font-size: 20px;
  color: #40c4ff;
}

/* REVIEWS */
.review{
  width: 100%;
  padding: 100px 0;
  background-image: url(../img/h5-parallax-img-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.review img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.review .text{
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
}

.review .name{
  font-size: 25px;
  margin-top: 60px;
}

.review .role{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}

.review .review-menu{
  margin-top: 60px;
}

.review .review-menu i{
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.5);
}

.review .review-menu i.active{
  padding: 0 10px;
  color: white;
}






/* ANIMATION */
@keyframes shakeBtn {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  5% { transform: translate(-1px, -2px) rotate(-1deg); }
  10% { transform: translate(-3px, 0px) rotate(1deg); }
  15% { transform: translate(3px, 2px) rotate(0deg); }
  20% { transform: translate(1px, -1px) rotate(1deg); }
  25% { transform: translate(-1px, 2px) rotate(-1deg); }
  30% { transform: translate(-3px, 1px) rotate(0deg); }
  35% { transform: translate(3px, 1px) rotate(-1deg); }
  40% { transform: translate(-1px, -1px) rotate(1deg); }
  45% { transform: translate(1px, 2px) rotate(0deg); }
  50% { transform: translate(1px, -2px) rotate(-1deg); }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counterstory {
  0% {
    --num: 0;
  }
  75% {
    --num: 168;
  }
  100% {
    --num: 168;
  }
}

@keyframes counterevent {
  0% {
    --num: 0;
  }
  75% {
    --num: 347;
  }
  100% {
    --num: 347;
  }
}
